/*
Error: Invalid US-ASCII character "\xE7"
        on line 9 of style.scss

4: //reset
5: * {
6:   margin: 0;
7:   padding: 0;
8:   box-sizing: border-box;
9:   outline: none; //禁止高亮
10:   
11: }
12: 
13: html {
14:   font-size: 13px;

Backtrace:
style.scss:9
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/util.rb:1090:in `rescue in block in find_encoding_error'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/util.rb:1087:in `block in find_encoding_error'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/util.rb:1086:in `each'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/util.rb:1086:in `each_with_index'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/util.rb:1086:in `find_encoding_error'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/util.rb:814:in `check_sass_encoding'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/engine.rb:444:in `check_encoding!'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/engine.rb:400:in `_to_tree'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/bin/sass:23:in `load'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/bin/sass:23:in `<main>'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/bin/ruby_executable_hooks:24:in `eval'
/Users/zhangzheng/.rvm/gems/ruby-2.7.0-preview1/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE7\"\A         on line 9 of style.scss\A \A 4: //reset\A 5: * {\A 6:   margin: 0;\A 7:   padding: 0;\A 8:   box-sizing: border-box;\A 9:   outline: none; //禁止高亮\A 10:   \A 11: }\A 12: \A 13: html {\A 14:   font-size: 13px;"; }
